.search_form {
	margin-top: 18rem;
}

.input_box {
	padding: 0.8rem;
	font-size: 1.5rem;
	background-color: white;
}

.date {
	margin-right: 1rem;
}
.child {
	margin-right: 1rem;
}
label {
	max-height: 4.8rem;
}
