/* .main_section {
	margin-right: 32rem;
} */

.main_section_image {
	width: 100vw;
	height: auto;
}

.main_section_upper {
	text-align: center;
}

.main_section_lower {
	margin-top: -34rem;
	padding: 20px;

	color: red;

	font-size: 50px;
}

.homestay_name {
	color: white;
	text-shadow: 7px 5px 8px black;
	padding: 0.2em;
	margin: 0px;
}

.homestay_tagline {
	margin: -1.2rem;
	font-size: 20px;
	padding-left: 40rem;
}
