.welcome_section {
	max-width: 100vw;
	height: auto;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	margin: 3rem;
}
.welcome_section_left {
	margin-right: 0px;
}
.welcome_section_image {
	width: 25vw;
}

.welcome_section_message {
	padding: 1rem;
	font-size: 1.6rem;
	text-align: left;
}
/* 
.welcome {
	font-size: 2rem;
	margin-top: -7rem;
	text-align: center;
	color: aliceblue;
	text-shadow: 5px 3px 1px black;
}
.welcome_message {
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
	color: rgb(15, 16, 17);
	text-shadow: 2px 1px 10px rgb(242, 242, 242);
} */
